body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f8f8f8;
}

h2 {
    color: #333;
}

label {
    font-size: 16px;
    margin-right: 10px;
}

#queryString {
    padding: 8px;
    font-size: 14px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h3 {
    margin-top: 20px;
    color: #333;
}

#outputList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#outputList li {
    font-size: 16px;
    margin-bottom: 5px;
}
